@import url('https://rsms.me/inter/inter.css');

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}
